<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>美图看看</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">美图看看</a>
   </div>
   <div>
   <ul class="nav navbar-nav navbar-right">
        <li role="presentation"><a href="{% url 'square' %}"><span class="glyphicon glyphicon-map-marker"></span> 广场</a></li>
         {% if user.is_authenticated %}
         <li class="dropdown">
      <a href="{% url 'index' %}" class="dropdown-toggle dropdown-inverse" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> 我(<b>{{user.username}}</b>)</a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span> 主页</a></li>
        <li role="presentation"><a href="{% url 'savelist' %}"><span class="glyphicon glyphicon-folder-open"></span> 收藏夹</a></li>
        <li role="presentation"><a href="{% url 'upload' %}"><span class="glyphicon glyphicon-cloud-upload"></span> 上传图片</a></li>
        <li class="divider"></li>
        <li role="presentation"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
             </ul>
           </li>
      {% else %}
          <li role="presentation"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
      <li role="presentation"><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
          {% endif %}
    </ul>
   </div>
   </div>
</nav>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <footer class="footer">
            <p>&copy; 2017 美图看看</p>
        </footer>
    </div>
</body>
</html>
