{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}


<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
  <div class="form-group">
    <div class="row" style="padding: 5px 0px 10px;">
	    <div class="col-lg-5"><input type="text" class="form-control input" name="searchname" placeholder="图片名称"></div>
		<button type="submit" class="btn btn-default ">搜索</button>
	</div>
	<div>
        <label for="name">图片类型</label>  
	    <label class="checkbox-inline">
		    <input type="checkbox" name="inlineCheckbox1" checked="checked" > 原图
	    </label>
	    <label class="checkbox-inline">
			<input type="checkbox" name="inlineCheckbox2" checked="checked" > 灰度图
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" name="inlineCheckbox3" checked="checked" > 二值化
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" name="inlineCheckbox4" checked="checked" > 高斯平滑
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" name="inlineCheckbox5" checked="checked" > 缩放
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" name="inlineCheckbox6" checked="checked" > 旋转
		</label>
		{% if pic_user.level > 4 %}
		<label class="checkbox-inline">
			<input type="checkbox" name="inlineCheckbox7" checked="checked" > 轮廓图
		</label>
		{% endif %}
		{% if pic_user.level > 9 %}
		<label class="checkbox-inline">
			<input type="checkbox" name="inlineCheckbox8" checked="checked" > 浮雕图
		</label>
		{% endif %}
    </div>
  </div>
 </form>

<div class="row">
     {% for pic in pictures %}
	 {% if pic.is_ori and search_ori %}
	 <div class="col-sm-4 col-md-4">
		<div class="thumbnail">
			<div style="height:300px;overflow:hidden"><img src="{{ pic.content.url }}" ></div>
			<div class="caption">
				<p>{% bootstrap_icon 'tag' %}<b>{{pic.name}}</b></p>
				<p>{% bootstrap_icon 'time' %} {{pic.uploaded_at|date:"m-d H:i"}}</p>
			</div>
		</div>
	</div>
	 {% elif pic.is_gra and search_gra %}
	 <div class="col-sm-4 col-md-4">
		<div class="thumbnail">
			<div style="height:300px;overflow:hidden"><img src="{{ pic.content.url }}" ></div>
			<div class="caption">
				<p>{% bootstrap_icon 'tag' %}<b>{{pic.name}}</b></p>
				<p>{% bootstrap_icon 'time' %} {{pic.uploaded_at|date:"m-d H:i"}}</p>
			</div>
		</div>
	</div>
	 {% elif pic.is_bin and search_bin %}
	<div class="col-sm-4 col-md-4">
		<div class="thumbnail">
			<div style="height:300px;overflow:hidden"><img src="{{ pic.content.url }}" ></div>
			<div class="caption">
				<p>{% bootstrap_icon 'tag' %}<b>{{pic.name}}</b></p>
				<p>{% bootstrap_icon 'time' %} {{pic.uploaded_at|date:"m-d H:i"}}</p>
			</div>
		</div>
	</div>
	 {% elif pic.is_gau and search_gau %}
	<div class="col-sm-4 col-md-4">
		<div class="thumbnail">
			<div style="height:300px;overflow:hidden"><img src="{{ pic.content.url }}" ></div>
			<div class="caption">
				<p>{% bootstrap_icon 'tag' %}<b>{{pic.name}}</b></p>
				<p>{% bootstrap_icon 'time' %} {{pic.uploaded_at|date:"m-d H:i"}}</p>
			</div>
		</div>
	</div>
	 {% elif pic.is_sca and search_sca %}
	<div class="col-sm-4 col-md-4">
		<div class="thumbnail">
			<div style="height:300px;overflow:hidden"><img src="{{ pic.content.url }}" ></div>
			<div class="caption">
				<p>{% bootstrap_icon 'tag' %}<b>{{pic.name}}</b></p>
				<p>{% bootstrap_icon 'time' %} {{pic.uploaded_at|date:"m-d H:i"}}</p>
			</div>
		</div>
	</div>
	 {% elif pic.is_rot and search_rot %}
	<div class="col-sm-4 col-md-4">
		<div class="thumbnail">
			<div style="height:300px;overflow:hidden"><img src="{{ pic.content.url }}" ></div>
			<div class="caption">
				<p>{% bootstrap_icon 'tag' %}<b>{{pic.name}}</b></p>
				<p>{% bootstrap_icon 'time' %} {{pic.uploaded_at|date:"m-d H:i"}}</p>
			</div>
		</div>
	</div>
	{% elif pic.is_con and search_con %}
	<div class="col-sm-4 col-md-4">
		<div class="thumbnail">
			<div style="height:300px;overflow:hidden"><img src="{{ pic.content.url }}" ></div>
			<div class="caption">
				<p>{% bootstrap_icon 'tag' %}<b>{{pic.name}}</b></p>
				<p>{% bootstrap_icon 'time' %} {{pic.uploaded_at|date:"m-d H:i"}}</p>
			</div>
		</div>
	</div>
	{% elif pic.is_emb and search_emb %}
	<div class="col-sm-4 col-md-4">
		<div class="thumbnail">
			<div style="height:300px;overflow:hidden"><img src="{{ pic.content.url }}" ></div>
			<div class="caption">
				<p>{% bootstrap_icon 'tag' %}<b>{{pic.name}}</b></p>
				<p>{% bootstrap_icon 'time' %} {{pic.uploaded_at|date:"m-d H:i"}}</p>
			</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}
