{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h3>{{homename}}的主页</h3>
<h3></h3>

<div class="row">
	<div class="col-md-2" >
	<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="150">
		<li class="active"><a href="#">类别导航</a></li>
		{% for v,pictures in cate_list %}
		<li><a href="#section{{v}}">{{v}} </a></li>
		{% endfor %}
	</ul>
	</div>

<div class="col-md-10">
 {% for v,pictures in cate_list %}
	<div class="panel panel-info" id="section{{v}}">
     <div class="panel-heading" data-toggle="collapse" data-target="#{{v}}" data-toggle="tooltip" data-placement="top" title="点击收起"><a href="{% url 'display' v %}">类别： {{v}}</a>
	 <span class="badge pull-right" >{{pictures|length}}张</span>
	 </div>
		<div class="panel-body" id="{{v}}" class="collapse" style="overflow-y:scroll; height:400px">
        {% for pic in pictures %}
		<div class="col-sm-4 col-md-4">
			<div class="thumbnail">
				<div style="height:230px;overflow:hidden"><img src="{{ pic.content.url }}" data-toggle="modal" data-target="#{{ pic.id }}" class="img-responsive"></div>
				<div class="caption">
					<h3>{{pic.name}}</h3>
					<p>{% bootstrap_icon 'time' %} {{pic.uploaded_at|date:"m-d H:i"}}</p>
					<a href="{% url 'comment' pic.id %}"><button type="submit" class="btn btn-primary" >评论</button></a>
				</div>
			</div>
		</div>
		
			
	<div class="modal fade" id="{{ pic.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">查看原图</h4>
				</div>
				<div class="modal-body">
					<img src="{{ pic.content.url }}" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
		{% endfor %} 
		</div>	
	</div>
	{% endfor %}
</div>	
</div>
{% endblock %}