{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h3>{{homename}}的主页</h3>
<h3></h3>
<div class="row">
    {% for pic in pictures %}
    <div class="col-sm-4 col-md-4" style="height:380px">
		<div class="thumbnail">
			<img src="{{ pic.content.url }}" data-toggle="modal" data-target="#{{ pic.id }}">
			<div class="caption">
				<h3>{{pic.name}}</h3>
				<p><b> {{pic.category}}</b></p>
				<p>{% bootstrap_icon 'time' %} {{pic.uploaded_at|date:"m-d H:i"}}</p>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="{{ pic.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">查看原图</h4>
				</div>
				<div class="modal-body">
					<img src="{{ pic.content.url }}">
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}