{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<ul class="list-group">
    {% for v,k in cate_list %}
    <a href="{% url 'display' v %}" class="list-group-item">类别 {{v}}<span class="badge">{{k}}张</span></a>

	  <div class="row">
    {% for pic in pictures %}
		{% if pic.category == v %}
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<a href="{% url 'process' pic.id %}"><img src="{{ pic.content.url }}" ></a>
				<div class="caption">
					<h3>{{pic.name}}</h3>
					<p>{% bootstrap_icon 'user' %}<b>{{pic.author}}</b></p>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		</div>

	{% endfor %}
</ul>


{% endblock %}
