{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
<script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
<h3>我的主页</h3>

<h5 class="text-right"><small>
  <span class="glyphicon glyphicon-bookmark"></span> 被收藏数：{{users.saved_num}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span> 被点赞数：{{users.liked_num}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="glyphicon glyphicon-signal"></span> 等级：{{users.level}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-usd"></span>经验值：{{users.credit}}
</small></h5>

{% include "messages.html" %}
<div class="row">
  {% if cate_list|length %}
  <div class="col-md-2" >
  <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="150">
    <li class="active"><a href="#">类别导航</a></li>
    {% for v,pictures in cate_list %}
    <li><a href="#section{{v}}">{{v}} </a></li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}

<div class="col-md-10">
 {% for v,pictures in cate_list %}
  <div class="panel panel-info" id="section{{v}}">
     <div class="panel-heading" data-toggle="collapse" data-target="#{{v}}" data-toggle="tooltip" data-placement="top" title="点击收起"><a href="{% url 'display' v %}">类别： {{v}}</a>
   <span class="badge pull-right" >{{pictures|length}}张</span>
   </div>
    <div class="panel-body" id="{{v}}" class="collapse" style="overflow-y:scroll; height:400px">
        {% for pic in pictures %}
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <div style="height:250px;overflow:hidden"><a href="{% url 'process' pic.id %}"><img src="{{ pic.content.url }}" class="img-responsive"></a></div>
        <div class="caption">
          <h3>{{pic.name}}</h3>
          <p>{% bootstrap_icon 'time' %} {{pic.uploaded_at|date:"m-d H:i"}}</p>
          <a href="{% url 'comment' pic.id %}"><button class="ui black button">评论</button></a>
          <button class="ui red button" data-toggle="modal" data-target="#{{ pic.id }}">删除</button>         
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="{{ pic.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">确定删除</h4>
        </div>
        <div class="modal-body">您确定要删除该图片吗？</div>
        <div class="modal-footer">
          <a href="{% url 'delpic' pic.id %}"><button type="button" class="btn btn-danger">确定</button></a>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
      </div>
    </div>
    </div>
    {% endfor %} 
    </div>  
  </div>
  {% endfor %}
</div>  
</div>
{% endblock %}