{% extends 'base.html'%}
{% block content %}

<link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
<script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
<div>
   <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
     <div class="ui center aligned basic segment">
         <div class="ui form">
               <label>Username</label>
               <div class="ui left icon input">
               <input type="text" id="username" name="username" class="form-control" placeholder="Username" required />
               <i class="user icon"></i>
            </div></br></br>
            <label>Password</label>
            <div class="ui left icon input">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
            <i class="lock icon"></i>
         </div></br></br>
         <button type="submit" class="btn btn-primary btn-lg">Login</button></br></br>
  <div class="ui horizontal divider">Or </div></br>
  <div class="center aligned column">
    <a href="{% url 'signup' %}"><div class="ui big green labeled icon button"><i class="signup icon"></i> Sign Up </div>
  </div>
</div>
   </form>
</div>
{% endblock %}

