{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
{% for u in m_user %}
<p>{% bootstrap_icon 'paperclip' %}<b> 收藏数：{{u.save_num}}</b></p>
<p>{% bootstrap_icon 'thumbs-up' %}<b> 收藏夹容量：{{u.storage}}</b></p>
{% endfor %}
<div class="row">
    {% for s in save_list %}
    <div class="col-sm-3 col-md-2" style="height:370px">
		<div class="thumbnail">
			<img src="{{ s.pic.content.url }}" data-toggle="modal" data-target="#{{ s.pic.id }}">
			<div class="caption">
				<h3>{{s.pic.name}}</h3>
				<p>{% bootstrap_icon 'user' %} <b>{{s.pic.author}}</b></p>
				<p>{% bootstrap_icon 'time' %} {{s.pic.uploaded_at|date:"m-d H:i"}}</p>
				<a href="{% url 'unsave' s.pic.id %}"><button type="submit" class="btn btn-info">取消收藏</button></a>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="{{ s.pic.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">查看原图</h4>
				</div>
				<div class="modal-body">
					<img src="{{ s.pic.content.url }}">
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}